In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
books = pd.read_csv('Books.csv')
ratings = pd.read_csv('Ratings.csv')
users = pd.read_csv('Users.csv')

/tmp/ipykernel_24406/378180666.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [3]:
books.sample(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
179661,0671724436,Cat is Watching,Roger A. Caras,1990,Fireside,http://images.amazon.com/images/P/0671724436.0...,http://images.amazon.com/images/P/0671724436.0...,http://images.amazon.com/images/P/0671724436.0...
43403,0394865707,The Berenstain Bears and Too Much TV (First Ti...,STAN BERENSTAIN,1984,Random House Books for Young Readers,http://images.amazon.com/images/P/0394865707.0...,http://images.amazon.com/images/P/0394865707.0...,http://images.amazon.com/images/P/0394865707.0...
51246,0553373153,Long Quiet Highway: Waking Up in America,Natalie Goldberg,1994,Bantam,http://images.amazon.com/images/P/0553373153.0...,http://images.amazon.com/images/P/0553373153.0...,http://images.amazon.com/images/P/0553373153.0...
130946,0553232878,Country Girl (Sweet Dreams Series No. 34),Melinda Pollowitz,1983,Bantam Books,http://images.amazon.com/images/P/0553232878.0...,http://images.amazon.com/images/P/0553232878.0...,http://images.amazon.com/images/P/0553232878.0...
120548,0743200810,Going with the Grain: A Wandering Bread Lover ...,Susan Seligson,2002,Simon &amp; Schuster,http://images.amazon.com/images/P/0743200810.0...,http://images.amazon.com/images/P/0743200810.0...,http://images.amazon.com/images/P/0743200810.0...

In [4]:
ratings.sample()

        User-ID        ISBN  Book-Rating
457603   110029  0140258574            0

In [5]:
users.sample()

        User-ID                            Location   Age
235400   235401  andover, hampshire, united kingdom  18.0

## merge dataset

In [6]:
df = ratings.merge(books,on="ISBN")

In [7]:
df.sample()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
602297,23871,0821752286,10,Wish List,Fern Michaels,1996,Zebra Books,http://images.amazon.com/images/P/0821752286.0...,http://images.amazon.com/images/P/0821752286.0...,http://images.amazon.com/images/P/0821752286.0...

In [8]:
counts_df = (df.groupby('Book-Title').count()['Book-Rating']).reset_index()

In [9]:
counts_df = counts_df[counts_df['Book-Rating']>250]

In [10]:
counts_df.head()

                                             Book-Title  Book-Rating
764                                                1984          284
818                                 1st to Die: A Novel          509
1048                                         2nd Chance          356
1760                                 A Bend in the Road          346
2281  A Child Called \It\": One Child's Courage to S...          265

In [11]:
books_df = df.merge(counts_df,on='Book-Title')

In [12]:
new_rating = (books_df.groupby('Book-Title')['Book-Rating_x'].mean()).reset_index()

In [13]:
new_rating.head()

                                          Book-Title  Book-Rating_x
0                                               1984       4.454225
1                                1st to Die: A Novel       3.575639
2                                         2nd Chance       3.269663
3                                 A Bend in the Road       3.364162
4  A Child Called \It\": One Child's Courage to S...       4.086792

In [14]:
new_books_df = counts_df.merge(new_rating,on='Book-Title')

In [15]:
new_books_df = new_books_df.rename(columns={'Book-Rating':'Num-Of-Rating','Book-Rating_x':'Book-Rating'})

In [16]:
popular = new_books_df.sort_values('Book-Rating',ascending=False)

In [17]:
popular = popular.merge(books,on='Book-Title')[['Book-Title','Book-Author','Num-Of-Rating','Book-Rating','Image-URL-M']]

In [18]:
popular = popular.drop_duplicates(['Book-Title'])

In [19]:
popular.reset_index()

,index,Book-Title,Book-Author,Num-Of-Rating,Book-Rating,Image-URL-M
0,0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,428,5.852804,http://images.amazon.com/images/P/0439136350.0...
1,3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,387,5.824289,http://images.amazon.com/images/P/0439139597.0...
2,5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,278,5.737410,http://images.amazon.com/images/P/0590353403.0...
3,9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,347,5.501441,http://images.amazon.com/images/P/043935806X.0...
4,13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,556,5.183453,http://images.amazon.com/images/P/0439064872.0...
...,...,...,...,...,...,...
181,716,Vinegar Hill (Oprah's Book Club (Paperback)),A. Manette Ansay,265,2.245283,http://images.amazon.com/images/P/0380730138.0...
182,717,Whispers,BELVA PLAIN,286,2.199301,http://images.amazon.com/images/P/0440216745.0...
183,727,Presumed Innocent,Scott Turow,294,2.139456,http://images.amazon.com/images/P/0446359866.0...
184,733,Isle of Dogs,Patricia Cornwell,288,2.000000,http://images.amazon.com/images/P/0425182908.0...
185,739,Wild Animus,Rich Shapero,2502,1.019584,http://images.amazon.com/images/P/0971880107.0...

In [20]:
top_fifty = popular.head(50)

In [23]:
random_fifty = top_fifty.sample(50)

In [25]:
random_fifty.to_csv('av_books.csv')